{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Application</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'person_list' %}">People</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <h1 class="home">Hello world, I'm a <a href='https://www.djangoproject.com/' target='blank'>django</a> application!"</h1>
    <img src="{% static 'django.jpg' %}" width="100%">
</body>
</html>